################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nowy folder/bin/Microsoft.AI.DependencyCollector.dll
