@model Vidly.Models.Movie
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <a>
            @Model.Name
        </a>
    </div>
</body>
