@using Microsoft.Ajax.Utilities
@using Vidly.Models
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_NavBar")
</body>
</html>


