@model Vidly.Models.Customer
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Customer name</title>
</head>
<body>
    <div>
        <p>@Model.Name</p>
    </div>
</body>
</html>