@model Vidly.Models.Customer
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>title</title>
</head>
<body>
<style>
    .customerHeader {
    font-size: 40px;
    color: black;
    }
    ul {
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: 20px;
    }
</style>
<div>

    <p class="customerHeader">
        @Model.Name
        <ul>
            <li>
                Membership Type: @Model.MembershipType.Name
            </li>
            @if (@Model.BirthDate != null)
            {
                <li>@Model.BirthDate</li>
            }
        </ul>
    </p>
</div>
</body>
